.App{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

labal{
  font-size: 20px;
}

input, button{
  width: 200px;
  height: 30px;
  font-size: 20px;
  margin: 5px;
}
.food {
  width: 500px;
  height: 250px;
  border: 2px solid black;
  margin: 10px;
}